<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.sunsetsouol.mapper.TicketServersMapper">

    <update id="replace" >
        REPLACE INTO Tickets64 (stub) VALUES ('a');
    </update>

    <select id="getId" resultType="long">
        SELECT LAST_INSERT_ID();
    </select>

</mapper>